{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "class-property"
    ],
    "rules": {
        "react/state-in-constructor": [0],
        "no-console": "off",
        "strict": ["error", "global"],
        "curly": "warn"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": true
    }
}